#textdomain wesnoth-Trinity

[race]
    id=tri_mech
    male_name= _ "race^Machine"
    female_name= _ "race+female^Machine"
    plural_name= _ "race^Machines"
    description= _"..."
    num_traits=2
    #        undead_variation=troll
    ignore_global_traits=yes
    {TRAIT_MECHANICAL}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    #        {TRAIT_FEARLESS}
    #        {TROLL_NAMES}
    #	markov_chain_size=2
    male_names="AM-211,AU-247,AZ-099,BT-108,BZ-089,CH-440,CR-954,CX-755,DU-690,DZ-744,ER-323,EZ-187,FA-502,GR-459,KK-721,KZ-665,MS-595,NU-769,OZ-376,PR-888,SR-108,TR-398,VX-666,XA-766,XR-247,ZA-560,ZX-423"
[/race]

[race]
    id=tri_avatar
    male_name= _ "race^Avatar"
    female_name= _ "race+female^Avatar"
    plural_name= _ "race^Avatars"
    description= _"..."
    num_traits=2
    ignore_global_traits=yes
    #	{TRAIT_ELEMENTAL}
    [trait]
        id=tri_elemental
        availability="musthave"
        male_name= _ "elemental"
        female_name= _ "female^elemental"
        description= _ "Immune to drain, poison, and plague"
        [effect]
            apply_to=image_mod
            add=~CS(-55,-40,-25)~O(0.9)
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/the-destroyer-spark5.png~CS(-10,-60,50)~O(0.8)
        [/effect]
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    #        {TRAIT_FEARLESS}
    #	markov_chain_size=2
    #	male_names=""
[/race]

[race]
    id=tri_avatar2
    male_name= _ "race^Avatar"
    female_name= _ "race+female^Avatar"
    plural_name= _ "race^Avatars"
    description= _"..."
    num_traits=2
    ignore_global_traits=yes
    #	{TRAIT_ELEMENTAL}
    [trait]
        id=tri_elemental2
        availability="musthave"
        male_name= _ "elemental"
        female_name= _ "female^elemental"
        description= _ "Immune to drain, poison, and plague"
        #	[effect]
        #	    apply_to=image_mod
        #	    add=~CS(-55,-40,-25)~O(0.9)
        #	[/effect]
        #	[effect]
        #	    apply_to=halo
        #	    halo=halo/the-destroyer-spark5.png~CS(-10,-60,50)~O(0.8)
        #	[/effect]
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    #        {TRAIT_FEARLESS}
    #	markov_chain_size=2
    #	male_names=""
[/race]

# this should be replaced, but I'm using it for the final avatar for now.
[race]
    id=tri_avatar3
    male_name= _ "race^Avatar"
    female_name= _ "race+female^Avatar"
    plural_name= _ "race^Avatars"
    description= _"..."
    num_traits=2
    ignore_global_traits=yes
    #	{TRAIT_ELEMENTAL}
    [trait]
        id=tri_elemental3
        availability="musthave"
        male_name= _ "elemental"
        female_name= _ "female^elemental"
        description= _ "Immune to drain, poison, and plague"
        [effect]
            apply_to=image_mod
            add=~CS(-25,-50,35)
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/the-destroyer-spark5.png~CS(0,-90,140)~O(0.8)
        [/effect]
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_DEXTROUS}
    #        {TRAIT_FEARLESS}
    #	markov_chain_size=2
    #	male_names=""
[/race]

# Include units WML directories
{~add-ons/Trinity/units/avatar}
{~add-ons/Trinity/units/blue}
{~add-ons/Trinity/units/humans}
{~add-ons/Trinity/units/khthon}
{~add-ons/Trinity/units/lunar}
{~add-ons/Trinity/units/mechs}
{~add-ons/Trinity/units/primeval}
{~add-ons/Trinity/units/monsters}
{~add-ons/Trinity/units/seth}
{~add-ons/Trinity/units/tower}
