#textdomain wesnoth-Trinity
[textdomain]
    name="wesnoth-Trinity"
    path="data/add-ons/Trinity/translations"
[/textdomain]
# This stopped working in 1.7.7
# #define TRINITY_LINKS
# "Bug Reports and Updates at:
# http://www.wesnoth.org/forum/viewtopic.php?f=8&t="
# #enddef

[campaign]
    id="Trinity1"
    name= _ "Trinity" + "
	"+_"Part 1: Convergence"
    define=CAMPAIGN_TRINITY1
    first_scenario="3_00"
    abbrev= _ "Tri1"
    rank=424
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 "bresda.png~RC(magenta>green)" (_"Easy") _"(Less Balanced)"} +
    ";*" + {MENU_IMG_TXT2 "bresda-termagant.png~RC(magenta>green)" (_"Normal") _"(Best Balanced)"} +
    ";" + {MENU_IMG_TXT2 "bresda-virago.png~RC(magenta>green)" (_"Hard") _"(Less Balanced)"}
    description= _ "Ancient combatants revived in the Frozen North have come south to the inhabited lands of Wesnoth.

The sequel to, and closure of, the <i>Bad Moon Rising</i> series.  

Requires <b>Archaic Era</b> and <b>Archaic Resources</b> add-ons.  

<span color='#F00' size='small'>Despite the 1.x.x versison number, it is not really finished.  This is because it is getting a massive rewrite from what is available in the BfW 1.10.x series.</span> 

<span color='#888' size='small'>Version </span>"+"<span color='#888' size='small'>{~add-ons/Trinity/dist/VERSION}</span>"
    # +{TRINITY_LINKS}
    icon="nemesis-low.png~RC(magenta>green)"
    image=Trinity_Splash.png
    {~add-ons/Trinity/about.cfg}
[/campaign]

[campaign]
    id="Trinity2"
    name= _ "Trinity" + "
	"+_"Part 2: Over the Moon"
    define=CAMPAIGN_TRINITY2
    first_scenario="F1_0"
    abbrev= _ "Tri2"
    rank=425
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 "ponce.png~RC(magenta>red)" (_"Easy") _"(Less Balanced)"} +
    ";*" + {MENU_IMG_TXT2 "ponce-corsair.png~RC(magenta>red)" (_"Normal") _"(Best Balanced)"} +
    ";" + {MENU_IMG_TXT2 "ponce-seadog.png~RC(magenta>red)" (_"Hard") _"(Less Balanced)"}
    description= _ "The sequel to, and closure of, the <i>Bad Moon Rising</i> series.

Requires <b>Archaic Era</b> and <b>Archaic Resources</b> add-ons.  

<span color='#F00' size='small'>Despite the 1.x.x versison number, it is not really finished.  This is because it is getting a massive rewrite from what is available in the BfW 1.10.x series.</span> 

<span color='#888' size='small'>Version </span>"+"<span color='#888' size='small'>{~add-ons/Trinity/dist/VERSION}</span>"
    # +{TRINITY_LINKS}
    icon="nemesis-hi.png~RC(magenta>green)"
    image=Trinity_Splash2.png~CS(-10,-5,15)
    {~add-ons/Trinity/about.cfg}
[/campaign]

[binary_path]
    path=data/add-ons/Trinity/external_data
[/binary_path]

#ifdef CAMPAIGN_TRINITY1
[binary_path]
    path=data/add-ons/Trinity/
[/binary_path]

#### Archaic Resources & Era material ####
{~add-ons/Archaic_Era/campaign.cfg}
{~add-ons/Archaic_Resources/campaign.cfg}
##############################

{~add-ons/Trinity/mainline-strings.cfg}
{~add-ons/Trinity/utils}
[+units]
    {~add-ons/Trinity/units}
[/units]
{~add-ons/Trinity/scenarios1}
#endif

#ifdef CAMPAIGN_TRINITY2
[binary_path]
    path=data/add-ons/Trinity/
[/binary_path]

#### Archaic Resources & Era material ####
{~add-ons/Archaic_Era/campaign.cfg}
{~add-ons/Archaic_Resources/campaign.cfg}
##############################

{~add-ons/Trinity/mainline-strings.cfg}
{~add-ons/Trinity/utils}
[+units]
    {~add-ons/Trinity/units}
[/units]
{~add-ons/Trinity/scenarios2}
#endif

# A few extra terrains.
#ifdef EDITOR
[binary_path]
    path=data/add-ons/Trinity
[/binary_path]
[editor_group]
    id=trin
    name= _ "Trinity"
    icon="group_custom3"
[/editor_group]
{~add-ons/Trinity/utils/terrain.cfg}
{~add-ons/Trinity/utils/terrain-tower.cfg}
{~add-ons/Trinity/utils/terrain-dp.cfg}
{~add-ons/Trinity/utils/cloud-terrain.cfg}
#endif
